version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8

    working_directory: ~/cimr-d

    steps:
      - checkout

      - run:
          name: Install git-lfs
          command: |
            mkdir git-lfs
            cd git-lfs
            wget https://github.com/git-lfs/git-lfs/releases/download/v2.7.2/git-lfs-linux-386-v2.7.2.tar.gz
            tar xzf git-lfs-linux-386-v2.7.2.tar.gz
            sudo ./install.sh
            
      - run:
          name: Install cimr + dependencies
          command: |
            .travis/install_cimr.sh
      
      - run:
          name: Process new PR
          command: | 
            python3 .travis/process_submitted_data.py
            
      - run:
          name: Push processed data
          command: |
            .travis/push_processed_data.sh

