version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8

    working_directory: ~/cimr-d
    resource_class: xlarge

    steps:
      - checkout
      #- add_ssh_keys:
          #fingerprints:
          #  - "2e:fb:e9:d5:94:c6:f4:75:2c:cb:66:71:a9:af:93:8a"
      - run:
          name: Install dependencies
          command: |
            bash .circleci/install_cimr.sh

      - run:
          name: Process new PR
          command: |
            python3 .circleci/process_submitted_data.py

      - run:
          name: Push output
          command: |
            bash .circleci/push_processed_data.sh
