version: 2.1
jobs:
  crunch:
    docker:
      - image: circleci/python:3.6.8
    working_directory: ~/cimr-d
    resource_class: xlarge
    steps:
      - checkout
      - run:
          name: Install git-lfs
          command: |
            bash .circleci/git_lfs.sh
            git lfs install && git lfs pull
      - add_ssh_keys:
          fingerprints:
            - "2e:fb:e9:d5:94:c6:f4:75:2c:cb:66:71:a9:af:93:8a"
      - run:
          name: Install cimr and its dependencies
          command: |
            bash .circleci/install_cimr.sh
      - run:
          name: Check and download data if a yaml file is submitted
          command: |
            sudo pip install awscli
            test -z ${CIRCLE_PR_NUMBER} || CIRCLE_PR_NUMBER=9876
            aws s3 rm s3://cimr-root/submitted_data/PR_${CIRCLE_PR_NUMBER}/my_request.done
            python3 .circleci/parse_yaml.py my_request.yml
      - run:
          name: Process submitted data
          command: |
            test -f my_request.yml && python3 .circleci/process_submitted_data.py
      - run:
          name: Save processed data
          command: |
            bash .circleci/post_crunch.sh
            touch my_request.done
            aws s3 mv my_request.done s3://cimr-root/test-submitted/PR_${CIRCLE_PR_NUMBER}/
      - persist_to_workspace:
          root: ~/cimr-d
          paths:
            - .git
            - .circleci

  deploy:
    machine: true
    working_directory: ~/cimr-d
    steps:
      - attach_workspace:
          at: ~/cimr-d
      - add_ssh_keys:
          fingerprints:
            - "60:6d:08:51:d2:1b:3d:5c:af:f8:e1:b5:41:d0:7e:20"
      - run:
          name: Save submitted and processed data
          command: |
            bash .circleci/git_lfs.sh
            bash .circleci/deploy.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - crunch
      - deploy:
          requires:
            - crunch
          filters:
            branches:
              only: master
