version: 2.1

references:

  container_config: &container_config
    docker:
      - image: circleci/python:3.6.8
    resource_class: large
    shell: bash
    working_directory: ~/cimr-d

jobs:

  build:
    <<: *container_config
    steps:
      - checkout
      - run:
          name: Install git-lfs
          command: |
            mkdir git-lfs
            cd git-lfs
            wget https://github.com/git-lfs/git-lfs/releases/download/v2.7.2/git-lfs-linux-386-v2.7.2.tar.gz
            tar xzf git-lfs-linux-386-v2.7.2.tar.gz
            sudo ./install.sh
      - run:
          name: Install cimr + dependencies
          command: |
            .circleci/install_cimr.sh
  
  staging_deploy:
    <<: *container_config
    steps:
      - run:
          name: Process new PR
          requires:
            - build
          command: |
            python3 .circleci/process_submitted_data.py
  
  deploy:
    <<: *container_config
    steps:
      - run:
          name: Commit processed data
          requires:
            - build
            - process
          command: |
            if [ "${CIRCLE_BRANCH}" == "submitter" ]; then
              python3 .circleci/push_processed_data.sh
            else
              echo "Processed data needs to be commited on a submitter branch"
            fi
            
workflows:
  version: 2
  build-stage-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - development
                - pre_prod
                - deploy
      - staging_deploy:
          requires:
            - build
          filters:
            branches:
              only: staging
      - deploy:
          requires:
            - staging_deploy
          filters:
            branches:
              only: staging
